<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <title></title>
  </head>
  <body>
    <div class="commentsbox">
      <form action="/submit" method="POST">
          <input type="text" placeholder="Leave a comment about this article..." value="">
          <input type="submit">
      </form>
    </div>
  </body>
</html>
