<!-- views/bloghome.ejs -->

  <% include partials/blogheader %>
  <body>
      <div class="container">
        <% include partials/blognavbar %>
          <div class="headerblock">
            <h1>All About Web Development</h1>
            <p class="lead">Check out the articles below!</p>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="list-group">

                <!-- loop over blog posts and render them -->
                <% posts.forEach((post) => { %>
                  <a href="/blogpost/<%= post.id %>" class="list-group-item">
                    <h4 class="list-group-item-heading"><%= post.title %></h4>
                    <p class="list-group-item-text"><%= post.author %></p>
                  </a>
                <% }) %>

              </div>
            </div>
          </div>
        <% include partials/blogfooter %>
      </div>
