

/* BLOG HOMEPAGE */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headerblock {
  color: black;
   -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: #ffa100;
  height: 300px;
  margin-top: 10px;
  background-image: url("../img/blog-hero.png");
  text-align: center;
  /*color: #ffa100;*/
  border-radius: 5px;
}

.lead {
  color: red;
}

h1 {
  margin-top: 93px;
}

a  {
  font-size: 15px;
}

/* BLOG POST PAGE */

.list-group-item {
  background-color: #ffba73;
}

.img-responsive {
  border-radius: 5px;
}

/* FOOTER Partial */
.footer {
  text-align: center;
}

/* Comments Form Partial */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #e67601;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2dad00;
}

div {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}
